.git
.gitignore
.*swp

.github

LICENSE*
Changelog.md
docs/
/test

/Dockerfile

node_modules
/.yarn
# todo: keep?
# !/.yarn/install-state.gz
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions

_static
/app/__generated__
/app/**/__generated__

# Workspace build artifacts - rebuilt in Docker by build-workspaces
/digitransit-component/**/lib
/digitransit-search-util/**/lib
/digitransit-store/**/lib
/digitransit-util/**/lib
